.button {
  display: inline-block;
  vertical-align: top;
  padding: 15px 25px;

  font-family: "Montserrat", "Arial", serif;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #323232;

  background-color: #ffe26d;
  border: none;
  border-radius: 3px;

  cursor: pointer;

  &:hover,
  &:focus {
    color: white;
    background-color: #62497c;
  }
}
