.sect-title {
  margin: 0;

  font-family: "Montserrat", "Arial", serif;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
}

.sect-title--dark {
  color: #040405;
}

.sect-title--ligth {
  color: #fefefe;
}
